<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <script src="{{ site.baseurl }}/js/picturefill.js" async></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/vegas/jquery.vegas.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
