{% assign thumbs = false %}
<div class="col-lg-{% if thumbs %}6{% else %}3{% endif %} col-md-4 col-sm-6 col-xs-12">
  <a class="tag-tile tile row" href="{% if include.all %}{{ include.post.url }}{% else %}..{% endif %}">
  {% if thumbs %}
    <div class="col-sm-6" style="line-height: 0; font-size: 0; padding: 0; text-align:center;">
      {% assign i = 0 %}
      {% for sub in site.pages %}
        {% if i < 3 and sub.tags contains include.post.name %}
          {% if sub.photos %}
            {% image thumb-small {{ sub.photos[0].file }} {{ magnifier }} class="hidden-xs" width="33.3%" %}
            {% image thumb-medium {{ sub.photos[0].file }} class="visible-xs" width="33.3%" %}
            {% assign i = i|plus:1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="description col-sm-6">
  {% endif %}
        {% if include.all %}{{ include.post.name }}{% else %}Назад в &laquo;{{ include.post.name }}&raquo;{% endif %}
  {% if thumbs %}
    </div>
  {% endif %}
  </a>
</div>